.container {
  display: flex;
  flex-direction: column;
  padding: 200px;
  background: url(prev.png);
  background-repeat: no-repeat;
  background-size: 40% 50%;
  background-position-x: 15%;
  background-position-y: 51%;
}
.card-info {
  display: flex;
  
}
#pus {
  width: 42%;
}
#log {
  width: 13%;
  height: 131px;
  margin-top: 4%;
  

}
.container h1 {
  margin-left: 18%;

}
.info{
  margin-right: 1%;
  font-weight: bold;

}
.valid-date{
  display: flex;
  margin-top: 12%;
  font-size: 12px
}
.date{
  margin-left: 2%
}
.date-info{
  display: flex
}
.valid-date p{
margin-top: 40%;
font-weight: bold
}
.info h3 {
  background-color:yellow
}
